*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background:url('./background.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-color:wheat;
   background-blend-mode:overlay;
}

.box{
  margin-top: 5%;
  margin-left:38%;
  padding-top: 10px;
  text-align:center;
  border: peru solid;
  border-radius: 10px;
  width: 25%;
  height: 60vh;
  text-indent: 5px;
  background-color: white;
  color: peru;
}

.left{
  text-align: left;
}

h2{
  color: peru;
}
.heading{
  margin-bottom: 35px;
}

.desc{
  padding-bottom: 5px;
}

input{
  width: 12rem;
  height: 1.5rem;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}

.button{
  border: solid peru;
  width: 10rem;
  height: 2rem;
  padding-top: 4px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: peru;
}

.button a{
  color: white;
}

a{
  text-decoration: none;
}

.ques a{
  color: gray;
  font-size: 13px;
}